/* DESIGNS https://www.sketch.com/s/d98feef4-ccdb-473a-9f92-ee96baef8323/a/vp3wx3 */
* {
  box-sizing: border-box;
  background-color: white;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.demo-container{
  margin: 5rem 15rem;
}
/* clear fix */
.grid:after, .demo-grid:after{
  content: "";
  display: block;
  clear: both;
}
.element-item {
  position: relative;
  float: left;
  width: 1.75rem;
  height: 1.75rem;
  margin: 2.5px;
  background: #888;
  color: #262524;
  display: flex;
  justify-content: center;
  align-items: center;
}
.element-item .inner-square {
  width: 0.875rem;
  height: 0.875rem;
  transition: 1000ms all ease-in-out;
}
.element-item:hover .inner-square {
  width: 100%;
  height: 100%;
  transition: 50ms all ease-in-out;
}
.type,
.title,
.date,
.url, .description {
  display: none;
}
.trust {
  background: rgba(65, 185, 230, 0.4);
}
.innovation {
  background: rgba(85, 190, 90, 0.4);
}
.responsability {
  background: rgba(255, 90, 15, 0.4);
}
.proactivity {
  background: rgba(255, 70, 135, 0.4);
}
.empty {
  background:rgba(198, 198, 198, 0.4)
}
.inner-square.trust, .legend-sample.trust {
  background: #41b9e6;
}
.inner-square.innovation, .legend-sample.innovation {
  background: #55be5a;
}
.inner-square.responsability, .legend-sample.responsability {
  background: #ff5a0f;
}
.inner-square.proactivity, .legend-sample.proactivity {
  background: #ff4687;
}
.inner-square.empty, .legend-sample.empty{
  background: #C6C6C6;
}

.legend {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin: 1rem 0;
}
.legend-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}
.legend-name {
  font-size: 16px;
  color: #000000;
  margin: 0;
}
.legend-sample {
  height: 12px;
  width: 12px;
  margin: 0 1rem;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
}
.filter-container {
  display: flex;
  align-items: center;
  margin: 0;
}
.order-option {
  border: none;
  font-size: 16px;
  color: #667690;
  padding: 0.5rem 0rem;
  margin: 0rem 1rem;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border-bottom: solid 4px transparent;
  transition: 500ms all ease-in-out;
}
.order-option:first-child {
  margin-left:0;
  margin-right:1rem;
}

.order-option:active, .is-checked {
  color: #000000;
  border-bottom: solid 4px #0555fa!important;
}
.btn-value {
  padding: 1rem 2rem;
  margin: 0 1rem;
  background-color: #d3135a;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: 250ms all ease-in-out;
}
.btn-value:hover {
   background-color: #ffbbd4;
   color: #d3135a;
}

.card-container{
  width: 270px;
  /* height: 364px; */
  background-color: white;
  box-shadow: 0px 0px 4px 0px #C6C6C6;
  padding: 22px 28px;
}
.card-value{
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}
.card-description{
  font-size: 18px;
  color: #000000;
  font-weight: 400;
  line-height: 29px;
  font-weight: bold;
}
.card-link{
  font-size: 16px;
  color: #D3135A;
  font-weight: 400;
  text-decoration: none;
}